html {
    color: black;
    background-image: url('gare.jpeg');
    background-attachment: fixed;
    background-color: rgb(0, 45, 66);
}

body {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent !important;
}

h1 {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    color:  #AD102A;
}

h3, h4 {
    margin-top: 15px;
}

.header, footer {
    background-color: rgba(255, 255, 255, 0.849);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

footer {
    display: flex; 
    justify-content: space-evenly;
    vertical-align: middle;
    margin-top: 20px;
    padding-top: 15px;
}

a {
    color: black;
}

a:hover {
    color: #AD102A;
}

a::after {
    color: black;
}

.container {
    max-width: 98%;
    margin-top: 2vh;
    margin-bottom: 4vh;
    text-align: center;
}

.col-sm {
    margin-top: 20px;
}

.container p {
    text-align: left;
}

.card {
    background-color: rgba(255, 255, 255, 0.849);
    display: inline-block;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-color: transparent;
}
